.aboutTop {
    display: flex;

}
.aboutTop p {
    margin: 10px;
    width: 400px;
    text-align: justify;
}
.aboutTop img {
    height: 300px;
    width: 500px;
    border-radius: 5px;
}
.about {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about ul {
    /* list-style: none; */
    margin: 20px 0px;
    width: 100%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.aboutLogo {
    width: 380px;
    margin-top: 10px;
}